<?xml version="1.0" encoding="UTF-8"?>
<!-- doctype removed -->
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="ja" lang="ja"><!-- "ja" added -->
<head>
<link href="twitter.css" type="text/css" rel="stylesheet" />
<title>{{ tog.title }}</title>
</head>
<body>
    <h2>{{ tog.title }}</h2>
    <div class="header">
        <small>Original page: <a href="{{ tog.uri }}">{{ tog.uri }}</a></small>
    </div>
    <div class="content">
        {%- for e in tog.entries %}
        <div>{{ e }}</div>
        {%- endfor %}
    </div>
</body>
</html>
