<?xml version="1.0" encoding="UTF-8"?>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="ja" lang="ja"><!-- "ja" added -->
<head>
<title>{{ title }}</title>
</head>
<body>
    <h1>{{ title }}</h1>

  <h4>Published by togetter_epub</h4>
  <h4>Published at {{ publish_date }}</h4>

  <h4><a href="http://www.kobu.com/docs/epub/">www.kobu.com/docs/epub</a></h4>
  <h4></h4>
</body>
</html>
